@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3e4369;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.ps-menu-icon {
  width: unset !important;
  min-width: unset !important;
  justify-content: start !important;
  margin: 0 !important;
}
.ps-menu-button, .ps-menu-icon {
  height: unset !important;
}
.ps-menu-button:hover {
  background-color: unset !important;
}
.ps-sidebar-container, .ps-submenu-content{
  background-color: transparent !important;
}
.ps-collapsed .ps-menu-icon{
  min-width: 100% !important;
  justify-content: center !important;
}
.ps-collapsed{
  width: 80px !important;
}
.ps-sidebar-container, .ps-menu-root,.ps-menu-root>ul{
  width:100%;
  display:flex;
  flex-direction: column;
}
.ps-sidebar-root{
  min-width: unset !important;
  border: none !important;
}
.ps-collapsed, .ps-collapsed .ps-menu-root, .ps-collapsed .ps-menu-button{
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: unset !important;
  margin-right: unset !important;
}
.ps-collapsed ul{
  align-items: center;
}
.ps-menu-label{
  display: flex;
  justify-content: space-between;
}

/* Below @apply directives were created by Jason */

/* General */

/* This div needs to surround the navbar too */
.main-div-gray{
  @apply bg-gray-200 flex flex-col font-montserrat items-start justify-start
}

.main-margin-div{
  @apply max-w-[1500px] w-full items-center mx-auto
}

.h1{
  @apply bg-black-900
}

/* Home Page */


.home-line-seperator{
  @apply h-full w-[2px] bg-black-900
}

.fade-in{
  @apply transition ease-in-out duration-300
}

/* Find a Tutor Page */

.filter-category-title-div{
  @apply flex flex-row gap-[20%] items-center justify-between p-1 w-full
}

.filter-category-title-text{
  @apply text-black-900 text-xl w-auto font-semibold
}

.filter-items-text{
  @apply text-black-900 text-sm w-auto font-medium
}

.filter-items-numbers-text{
  @apply text-black-900 pl-5 text-xs w-auto font-medium
}

.reset-btn{
  @apply text-indigo-A400 text-right text-xs w-auto hover:font-semibold
}

/* Logged In - General */

/* This div contains the sidebar menu and everything in the main dashboard too*/
.main-outside-div{
  @apply bg-gray-200 flex sm:flex-col md:flex-col flex-row font-montserrat gap-2.5 items-start justify-between mx-auto w-auto sm:w-full md:w-full
}

.main-dashboard-div{
  @apply bg-white-A700 flex flex-col  md:px-5  w-full md:flex-col gap-[21px] items-start justify-start max-w-[977px] sm:px-5 px-6 py-2.5 rounded-[10px]
}

/* Logged In - Dashboard Sidebar */

.sidebar-items-outside-div{
  @apply flex flex-col items-center justify-between px-[10px] py-[5px] w-full
}

.sidebar-items-inside-div{
  @apply flex flex-row gap-5 p-3 items-center justify-start w-full rounded-xl hover:bg-blue-800 cursor-pointer
}